<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <p class="header-title" style="font-size: 1.9rem; font-weight: bold">APARTMENT MANAGEMENT</p>
  <nav>
    <ul>
      <li *ngIf="isLoggedIn$ | async">
        <a href="javascript:void(0)" (click)="onHome()">Home</a>
      </li>
      <li *ngIf="isLoggedIn$ | async">
        <button appButton style="background-color: darkgreen;" (click)="onLogout()">Logout
          <span ngProjectAs="icon">→</span>
        </button>
      </li>
    </ul>
  </nav>


</header>
