<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <p class="header-title" i18n="@@headerTitle">
    Apartment Management
  </p>

  <nav>
    <ul>
      <li *ngIf="(isLoggedIn$ | async) && !isLoginRoute()">
        <button appButton class="header-button logout-button" (click)="onLogout()" i18n="@@headerLogout">
          Logout
          <span ngProjectAs="icon">→</span>
        </button>
      </li>
      <!-- Language Buttons: show only on login route -->
      <li *ngIf="showLangButton('en')">
        <button appButton class="header-button lang-button" (click)="redirectToLanguage('en')">EN</button>
      </li>
      <li *ngIf="showLangButton('hu')">
        <button appButton class="header-button lang-button" (click)="redirectToLanguage('hu')">HU</button>
      </li>
    </ul>
  </nav>
</header>
