<div class="submit-data-container" *ngIf="isLoggedIn$ | async">
  <div class="form-container">
    <h2>Submit Meter Data</h2>

    <div class="form-group">
      <label for="meterType">Meter type</label>
      <select id="meterType" [(ngModel)]="selectedMeterType">
        <option value="" disabled selected>Select meter type</option>
        <option *ngFor="let type of meterTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="meterValue">Meter value</label>
      <div class="meter-value-container">
        <input
          type="number"
          id="meterValue"
          [(ngModel)]="meterValue"
          placeholder="Whole numbers only!"
          step="1"
        >
        <span *ngIf="actualValue" class="actual-value">Latest value: {{ actualValue }}</span>
      </div>
    </div>

    <div class="form-group">
      <div class="file-upload-container">
        <input
          type="file"
          id="imageUpload"
          (change)="onFileSelected($event)"
          accept=".png,.tiff,.jpg,.jpeg"
        >
        <label for="imageUpload" style="width: 200px;">Upload image</label>
        <span class="file-name" *ngIf="selectedFile" style="width: 220px">{{ selectedFile.name }}</span>
        <span class="file-name empty-file" *ngIf="!selectedFile" style="width: 220px">No file selected</span>
<!--        <button appButton (click)="onSubmitImage()">Upload</button>-->
        <small>Max size: 10MB. Allowed formats: PNG, TIFF, JPG, JPEG</small>

      </div>
    </div>

    <div class="submit-button-container">
      <button appButton (click)="onSubmitData()">Submit</button>
    </div>
  </div>
</div>
