.main-content {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: auto;
}

.main-content > app-user-menu {
  width: 20%;
  flex-shrink: 0;
}

.main-content > app-submit-data,
.main-content > app-latest-values,
.main-content > app-edit-apartment,
.main-content > app-add-default,
.main-content > app-get-admin-data,
.main-content > app-get-admin-lists,
.main-content > app-delete-apartment,
.main-content > app-send-email,
.main-content > app-edit-user,
.main-content > app-add-apartment {
  width: 80%;
  display: flex;
  justify-content: center;
}
